# Ignore DockerSavedImages folder and its content
DockerSavedImages/

# Ignore simulator folder and its content
simulator/

# Ignore records folder and its content
records/
video_records/

# Ignore AirSim compilation files
airsim/Unreal/Plugins/AirSim/Content/3D_Embention/
airsim/AirLib/lib/
airsim/build_release/
airsim/Unreal/Plugins/AirSim/Source/AirLib/

# Ignore some settings files
settings/algorithms/assets/graphs/
settings/algorithms/assets/dummy_uavs.json
settings/algorithms/assets/dynamic.json
settings/algorithms/assets/dynamics_ids.json
settings/algorithms/assets/static.json
settings/internal/params_px4_ext.json
settings/internal/params_px4_gnss.json
settings/internal/uav_px4.json
settings/internal/uav_veronte.json
settings/trajectories/default.yaml
settings/config_simulation.json
settings/sensors.json
settings/fleet.json

settings/internal/shared/settings.json
