# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Files exceeding GitHub's 100MB limit
protonet_uav/videoplayback.mp4
protonet_uav/uav_models/morok_uav_drone_3d_model/morok_uav_drone_3d_model.glb
