# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Video files
*.mp4
*.avi
*.mov
*.mkv

# Files exceeding GitHub's 100MB hard limit
protonet_uav/uav_models/morok_uav_drone_3d_model/morok_uav_drone_3d_model.glb
