*~
*.bin
*.obj
*.dat
*.ipch
*.log
*.lck
*.tlog
*.sim
*.lib
*.lastbuildstate
*.exe
*.manifest
*.ilk
*.mat
*.idb
*.pdb
*.opensdf
*.res
*.suo
*.rc
*.unsuccessfulbuild
*.sdf
*.jpg
*.hgt
*.sin
*.rar
!*.zip
*.dem
*.cdtbuild
*.cdtproject
*.cdtbuild_initial
*.ini
*.opt
*.pp
*.mk
*.paf2
*.lkf
*.map
*.out
*.CDX
*.DBF
*.FPT
*.sbl
*.lnk
*.asv
*.old
*.kml
*.mexw32
*.mexw64
*.veronte
*.update
*.bak
*.ccsproject
*.project
*.vcxproj.user
*.core.prefs
*.cache
*.metadata
*.settings
*.lock

*.swp

/code/projects/uveronte/air/arbitro/project/arbiter.dep
/code/projects/uveronte/air/arbitro/project/arbiter.ewd
/code/projects/uveronte/air/arbitro/project/arbiter.eww
/code/projects/uveronte/air/arbitro/project/settings/
/code/projects/uveronte/air/arbitro/project/Debug/

/code/rtlibs/geomodel/io/input/SRTM/


/code/pclibs/java/jfxtras/nbproject/private/
/code/pclibs/java/gui/nbproject/private/
/code/pclibs/java/jfxtras/build/
/code/pclibs/java/files/nbproject/private/
/code/pclibs/javaLibrary/nbproject/private/
/code/pclibs/java/jfxtras/nbproject/project.properties

/code/pclibs/javaLibrary/build/
/code/pclibs/java/gui/build/
/code/pclibs/java/gui/dist/
/code/pclibs/javaLibrary/dist/
/code/pclibs/java/files/build/
/code/pclibs/java/files/dist/
/code/projects/neuronafx/build/
/code/pclibs/java/jfxtras/dist/
/code/projects/neuronafx/dist/
/code/projects/neuronafx/nbproject/project.properties
/code/pctools/VKeyGen/nbproject/private/
/code/pctools/VKeyGen/build/
/code/pctools/VKeyGen/dist/

/code/rtlibs/ti/FLASH28335_API_V210/tools/smart.x00
/code/rtlibs/ti/FLASH28335_API_V210/tools/smart.x01
/code/pctools/Str2csv/nbproject/private/
/code/pctools/Str2csv/build/
/code/projects/neurona/build/
/code/pctools/Str2csv/dist/
/code/pctools/AssistGps/

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
*.lst

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
!create_update.jar
*.rar
*.tar
!*.zip

# Sourcesafe
*.scc

#projects folder (included specific files below)

# ccs output folders
**/project/ccs*/Debug/
source/Debug/*.aux
/code/projects/eko/eko4/source/*/*.aux

# Visual output folders
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user

# Java
**/nbproject/configs
private/
dist/
build/
nb/
!build-impl.xml
!genfiles.properties
!project.properties
!project.xml
!private.xml
**/app.properties


# polyspace
polyspace/

# doxygen
code/**/doc/html/*
/code/projects/rf/uart2simpliciti/doc/html/
/code/rtlibs/*/doc/*
/code/rtlibs/ti/FLASH28335_API_V210/docs/
!doc/*.doxyfile

# matlab
*.asv
/code/projects/uveronte/air/uveronte/io/20*
/code/projects/uveronte/air/uveronte/io/YY*
/code/projects/uveronte/air/uveronte/io/input
/code/*/*/io/input/*

# Misc
*.dsp
SyncToy*
Thumbs.db
/code/rtlibs/ti/FLASH28335_API_V210/tools/*/
/code/rtlibs/ti/FLASH28335_API_V210/tools/smart.*
/code/rtlibs/ti/FLASH28335_API_V210/tools/flash_e.*
/code/rtlibs/uip/driver/project/uip28335.CS_
/code/pctools/CRC/*/
/code/pctools/matlab_tools/*.bin
/code/pctools/serialApp/libs/*/
mytest.m
/code/pctools/Str2csv/out/
/code/pctools/Str2csv/in/
/code/pclibs/java/MAVLink/dist
/code/pclibs/javaLibrary/data

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# NetBeans specific files/directories
.nbattrs
**/nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
