
project/

source/bd/ip
source/bd/ui
source/bd/sim
source/bd/synth
source/bd/ipshared
source/bd/hw_handoff

source/bd/synth
source/bd/*

*.xsa
*.bk

!.gitignore
!*.tcl
!source/bd/hdl/*.v
!source/bd/*.bd
!source/constrs/*.xdc
